

body {
    background-color: black;
}

section {
    margin-top: 20px;
    background-image: url(../images/background1.jpeg);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border-color: white;
    
}

img {
    margin-left: -25px;


}

.aboutme {
    color: whitesmoke;
}

.span2 {
    font-size: x-large;
}

.textcolor {
    color: white;
}

#stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 4px 4px 10px dimgray;
}

p {
    font-size: larger;
}

footer {
    background-color: #343a40;
}

h3{
    font-size: small;
}

.contactsize {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
}

@media screen and (max-width: 768px) { 
    p {
        font-size: small;
        font-weight: bolder;
    }

    h3{
        font-size: smaller;
    }

    #stroke {
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: black;
        text-shadow: 4px 4px 10px dimgray;
    }

}